<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>New Chat :</h3>
    <form action="/chats" method="post">
        <input type="text" name="from" placeholder="Who are you ?"> <br><br>
        <textarea name="msg" placeholder="Type message  here.."></textarea> <br><br>
        <input type="text" name="to" placeholder="Add receiver"> <br><br>
         <button>Chat Create</button>
    </form>
</body>
</html>